In [1]:
#import libraries and packages needed
import pandas as pd
import numpy as np
from pandas import read_csv
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

In [2]:
train = pd.read_csv("data/train.csv")

In [3]:
#analyzing the numerical variables of the training dataset
train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [4]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
len(train)

614

In [6]:
train.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [7]:
#building the model from the raw data
model  = DecisionTreeClassifier()
X = train[['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']]
y = train['Loan_Status']

In [8]:
train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [23]:
train.groupby('Gender').size()

Gender
Female    112
Male      489
dtype: int64

In [24]:
train_full = train.dropna()

In [25]:
train_full.groupby('Gender').size()

Gender
Female     86
Male      394
dtype: int64

In [56]:
disc_str_cols = ['Gender', 'Married', 'Dependents', 'Education','Self_Employed','Property_Area','Loan_Status']

In [57]:
num_cols = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']

In [59]:
train_one_hot = train_full[num_cols]

In [69]:
lb = preprocessing.LabelBinarizer()
new_cols = num_cols
for col in disc_str_cols:
    col = train_full[col].tolist()
    X = pd.Series(list(lb.fit_transform(col)))
    train_one_hot =pd.concat([train_one_hot,X],axis = 1)
#     new_cols = new_cols.append(lb.classes_)

In [71]:
train_one_hot.columns

Index([  'ApplicantIncome', 'CoapplicantIncome',        'LoanAmount',
        'Loan_Amount_Term',    'Credit_History',                   0,
                         0,                   0,                   0,
                         0,                   0,                   0,
                         0,                   0],
      dtype='object')

In [47]:
train_np.shape

(480, 17)

In [10]:
# model.fit(X,y)